$color-teal: #2a9d8f;
$color-yellow: #e9c46a;
$color-orange: #f4a261;
$color-red: #e76f51;
$color-blue: #518be7;
$color-green: #2fb52f;

$color-base: #264653;

$gray-1: #f2f2f2;
$gray-2: #bfbfbf;
$gray-3: #808080;
$gray-4: #595959;
$gray-5: #333333;
$gray-6: #222222;
$gray-7: #111111;