.root{
  z-index: 10;
  transition: 0.1s opacity ease-in-out, 0.3s transform cubic-bezier(.45,1.51,.39,1.09);
  opacity:0;
  pointer-events: none;
  transform: scaleY(0.5) translateY(-2rem);
  transform-origin: top center;
 &.open{
  opacity:1;
  pointer-events: all;
  transform: scaleY(1) translateY(0);
 } 
}