@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&family=Lato:wght@400;700&display=swap');

html,
body{
  font-family: Lato;
}

h1,
h2{
  font-family: 'Bubbler One';
  font-weight: 700;
}
h1{
  font-size: 2rem;
  line-height: 1.5;
}
h2{
  font-size: 1.5rem;
  line-height: 1.5;
}
h3{
  font-size: 1rem;
}

.text-sm{
  font-size: 0.75rem;
}
.text-1 {
  font-size:1rem;
}
.text-1-5 {
  font-size:1.5rem;
}
.text-2 {
  font-size:2rem;
}
.text-3 {
  font-size:3rem;
}

.leading-1{
  line-height: 1;
}