@font-face {
  font-family: 'Bubbler One';
  src: url(fonts/BubblerOne-Regular.woff2) format('woff2'),
       url(fonts/BubblerOne-Regular.woff) format('woff'),
       url(fonts/BubblerOne-Regular.eot) format('eot');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000 to U+007F;
}
@font-face {
  font-family: 'Lato';
  src: url(fonts/Lato-Regular.woff2) format('woff2'),
       url(fonts/Lato-Regular.woff) format('woff'),
       url(fonts/Lato-Regular.eot) format('eot');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000 to U+007F;
}
@font-face {
  font-family: 'Lato';
  src: url(fonts/Lato-Bold.woff2) format('woff2'),
    url(fonts/Lato-Bold.woff) format('woff'),
    url(fonts/Lato-Bold.eot) format('eot');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000 to U+007F;
}

html,
body{
  font-family: Lato;
}

h1,
h2{
  font-family: 'Bubbler One';
  font-weight: 700;
}
h1{
  font-size: 2rem;
  line-height: 1.5;
}
h2{
  font-size: 1.5rem;
  line-height: 1.5;
}
h3{
  font-size: 1rem;
}

.text-sm{
  font-size: 0.75rem;
}
.text-1 {
  font-size:1rem;
}
.text-1-5 {
  font-size:1.5rem;
}
.text-2 {
  font-size:2rem;
}
.text-3 {
  font-size:3rem;
}

.leading-1{
  line-height: 1;
}